{% extends "base.html" %}
{% block titulo %} Agregar Cuenta {% endblock %}
{% block contenido %} 
<!-- <div class="container-cuentas"> -->
  <div class="card">
    <div class="row no-gutters">
      <div class="grid-container-master">
        {% if id_tipo_cuenta == 1 %}
          <div class="card-body">
            <h4 class="card-title">Gestiona tu cuenta de Fondeo que has puesto en marcha</h4> 
            <p class="card-text">
              <i class="fas fa-check"></i> Establece tu cuenta y selecciona el nivel de riesgo con el cual deseas comenzar a operar.
            </p> 
            <p class="card-text">
              <i class="fas fa-check"></i> Calcularemos el número de operaciones que deberás respetar para no superar la pérdida máxima de tu challenge.
            </p>                                        
            <p class="card-text">
              <i class="fas fa-check"></i> Ten en cuenta que una vez que hayas creado una cuenta, no podrás actualizar sus características. Asegúrate de ingresar correctamente tus datos desde el principio.
            </p>
          </div>                  
        {% elif id_tipo_cuenta == 2 %}
          <div class="card-body">
            <h4 class="card-title">Gestiona tu cuenta personal que has puesto en marcha</h4> 
            <p class="card-text">
              <i class="fas fa-check"></i> Establece el saldo actual de tu cuenta y el número de operaciones que deseas realizar.
            </p> 
            <p class="card-text">
              <i class="fas fa-check"></i> Calcularemos el riesgo por ti, para que puedas comenzar a operar respetando tu plan de trading desde el principio.
            </p>                                        
            <p class="card-text">
              <i class="fas fa-check"></i> Ten en cuenta que una vez que hayas creado una cuenta, no podrás actualizar sus características. Asegúrate de ingresar correctamente tus datos desde el principio.
            </p>
          </div>                     
        {% endif %}     
       
              <div class="card-body text-center">            
                  <h4 class="card-title">Completa los detalles de tu cuenta</h4>
                  <div class="mt-1">
                    {% include 'cuentas/form_cuentas.html' %} 
                  </div>   
              </div>           
      </div>    
    </div>
  </div>
<!-- </div> -->
{% endblock %}
