{% extends "base.html" %} {% block titulo %} Mis cuentas {% endblock %} 
{% block contenido %}
{% load static %}
<div class="content">
<div class="card">
  <div class="card-header">
    <a name="" id="myBtn" class="add-order-button" href="{% url 'crear_cuentas' request.session.id_tipo_cuenta %}" role="button">
      <i class="fas fa-plus"></i> Agregar cuenta
    </a>
  </div>  
  <div class="card-body">  
    {% if request.session.id_tipo_cuenta == 1 %}
    <h4 class="card-title">MIS CUENTAS DE FONDEO</h4>        
    {% else %} 
    <h4 class="card-title">MIS CUENTAS PERSONALES</h4>   
    {% endif %}
  
    <div class="mt-4"></div>  
    <div class="table-responsive">
      <div class="tabla-scroll">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Login</th>  
            <th scope="col">Fecha</th>     
            <th scope="col">Cuenta</th>
            <th scope="col">Tipo de Cuenta</th>
            {% comment %} <th scope="col">N° Operaciones</th>
            <th scope="col">Operaciones Restantes</th> {% endcomment %}
            <th scope="col">Capital Riesgo</th>           
            <th scope="col">Porcentaje de Riesgo</th>
            <th scope="col">Nivel de Riesgo</th>
            <th scope="col">Resultado</th>
            <th scope="col">Balance</th>  
            <th scope="col"></th>          
          </tr>
        </thead>
        <tbody>
          {% for cuenta in cuentas %}      
          <tr class="">
            <td>{{ cuenta.n_login }}</td>
            <td>{{ cuenta.fecha_cuenta|date:"d/m/Y" }}</td>
            <td> $ {{ cuenta.cuenta }}</td>
            {% if cuenta.id_tipo_cuenta_id == 1 %}
            <td> Cuenta de Fondeo</td>            
            {% else %}
            <td> Cuenta Personal</td>
            {% endif %}
            {% comment %} <td>{{ cuenta.n_operaciones }}</td>
            <td>{{ cuenta.operaciones_restantes }}</td> {% endcomment %}
            <td>$ {{ cuenta.capital_riesgo }}</td>
            <td>{{ cuenta.riesgo_operacion }} %</td>
            <td>{{ cuenta.nivel_riesgo }}</td>
            <td style="color:orange;"> En proceso </td>
            <td>$ {{ cuenta.capital_actual }}</td>
            <td>
              <div class="btn-group" role="group">
              <a name="" id="" class="btn btn-custom" href="{% url 'lista_trades_de_cuentas' cuenta.id_cuenta %}" role="button">
                <i class="fas fa-eye"></i> 
              </a>
              <a name="" id="" class="btn btn-custom" href="{% url 'eliminar_cuenta' request.session.id_tipo_cuenta cuenta.id_cuenta  %}" role="button">
                <i class="fas fa-trash-alt"></i> 
              </a>
            </div>
            </td>            
          </tr>       
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>
</div>

<script src="{% static 'js/scriptListaCuentas.js' %}"></script>
{% endblock %}
