{% load static %}

<form enctype="multipart/form-data" method="post" id="myModal">
   {% csrf_token %}
   {% if error_message %}
   <div class="alert alert-danger" role="alert">
     {{ error_message }}
   </div>
   {% endif %}   
   <div class="container" id="grid-container-cuentas"> 
    <div class="mb-3">
      <label for="broker" class="form-label">Selecciona una empresa:</label>
      <select id="broker" class="form-control" name="broker">
        {% for choice in formulario.broker.field.choices %}
          {% if choice.0 == formulario.broker.value %}
            <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
          {% else %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    
    <div class="mb-3" id="otroBrokerField" {% if formulario.broker.value != 'Otro' %}style="display: none;"{% endif %}>
      <label for="otro_broker" class="form-label">Otro:</label>
      <input type="text" id="otro_broker" class="form-control" name="otro_broker" value="{{ formulario.otro_broker.value | default:'' }}">
    </div>
    
   
<div class="mb-3">
  <label for="n_login" class="form-label">Número de Login:</label>
  <div class="input-group">
    <input type="text" id="n_login" class="form-control" name="n_login" value="{{ formulario.n_login.value | default:'' }}">
    <div class="input-group-append">
      <button id="open-modal-help" type="button" class="help-button" data-toggle="modal" data-target="#helpModal">
        <i class="fas fa-question-circle"></i> <!-- Reemplaza con el ícono que desees usar, por ejemplo, Font Awesome -->
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- Modal -->
<div id="modalayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content-help">			
      {% comment %} <div class="modal-header">        
        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div> {% endcomment %}
      <div class="modal-body">
        <img class="modal-image-help" src="{% static 'img/authorization.png' %}" alt="Imagen de ayuda">
      </div>
      
    </div>
  </div>
</div>
     <div class="mb-3">     
        {% if id_tipo_cuenta == 1 %}
          <label for="cuenta" class="form-label">Seleccione una cuenta:</label>
            <select id="cuenta" class="form-control" name="cuenta">
                {% for choice in formulario.cuenta.field.choices %}
                  {% if choice.0 == formulario.cuenta.value %}
                    <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                  {% else %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endif %}
                {% endfor %}
           </select>     
        {% elif id_tipo_cuenta == 2 %}
          <label for="cuenta" class="form-label">Ingresa una cuenta:</label>
            {% if formulario.cuenta_ingresada.errors %}
            <input type="text" id="cuenta" class="form-control is-invalid" name="cuenta" value="{{ formulario.cuenta.value | default:'' }}">
            <div class="invalid-feedback">
                {% for error in formulario.cuenta_ingresada.errors %}
                {{ error }}
                {% endfor %}
            </div>
        {% else %}
            <input type="text" id="cuenta" class="form-control" placeholder="Ejemplo: 200"  name="cuenta" value="{{ formulario.cuenta.value | default:'' }}">
        {% endif %}
      {% endif %}
    </div>
       <div class="mb-3">
         <label for="riesgo_operacion" class="form-label">Seleccione riesgo:</label>
         <select id="riesgo_operacion" class="form-control" name="riesgo_operacion">
            {% for choice in formulario.riesgo_operacion.field.choices %}
              {% if choice.0 == formulario.riesgo_operacion.value %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
              {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endif %}
            {% endfor %}
          </select>        
        </div> 
        <div class="mb-3">
         <label for="capital_riesgo" class="form-label">Capital riesgo:</label>
         <input type="text" id="capital_riesgo" readonly class="form-control" name="capital_riesgo" value="{{ formulario.capital_riesgo.value | default:'' }}">
       </div>  
       <div class="mb-3">
         <label for="n_operaciones" class="form-label">Número de Operaciones:</label>
         <input type="text" id="n_operaciones" readonly class="form-control" name="n_operaciones" value="{{ formulario.n_operaciones.value | default:'' }}">
       </div>    
       <div class="mb-3">
         <label for="operaciones_restantes" class="form-label visually-hidden">Operaciones Restantes:</label>
         <input type="text" id="operaciones_restantes" readonly class="form-control visually-hidden" name="operaciones_restantes"  value="{{ formulario.operaciones_restantes.value | default:'' }}">
       </div>    
       <div class="mb-3">
         <label for="nivel_riesgo"  class="form-label visually-hidden" >Nivel de Riesgo:</label>
         <input type="text" id="nivel_riesgo" readonly class="form-control visually-hidden" name="nivel_riesgo" value="{{ formulario.nivel_riesgo.value | default:'' }}">
       </div>
       <div class="mb-3">
         <label for="capital_actual"  class="form-label visually-hidden" >Capital Actual:</label>
         <input type="text" id="capital_actual" readonly class="form-control visually-hidden" name="capital_actual"  value="{{ formulario.capital_actual.value | default:'' }}">
       </div>
       <div class="mb-3">
         <label for="id_tipo_cuenta" class="form-label visually-hidden">Tipo de Cuenta:</label>
       <select id="id_tipo_cuenta" readonly class="form-control visually-hidden" name="id_tipo_cuenta" >
            {% for choice in formulario.id_tipo_cuenta.field.choices %}
                {% if choice.0 == request.session.id_tipo_cuenta %}
                    <option value="{{ choice.0 }}" selected>{{ choice.0 }}</option>
                {% endif %}
            {% endfor %}
          </select>
       </div>

</div>
<div class="center-button">
  <input name="submit_button" id="" class="add-order-button" type="submit" value="Aceptar">
  <a name="" id="" class="cancel-order-button"  href="{% url 'lista_cuentas' request.session.id_tipo_cuenta  %}" role="button">Cancelar</a>   
</div>

  <script src="{% static 'js/scriptCuentas.js' %}"></script>
</form>
