{% extends "base.html" %}

{% block titulo %} Seleccionar tipo de Cuenta {% endblock %}

{% block contenido %} 
<div class="container-seleccionar-cuentas">

<div class="card">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title">¿Cansado de perder cuenta tras cuenta?</h4>
                <p class="card-text">Optimiza tus resultados con nuestro journal de gestión de riesgos</p>
                <p class="card-text">Selecciona la cuenta que mejor se adapte a tus necesidades y opera sin preocupaciones</p>
                <p class="card-text">Recuerda que una vez creada una cuenta, no podrás modificar sus características. Elige la cuenta adecuada desde el principio</p>

            </div>
        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/500x200" class="card-img" alt="Imagen de banner">
        </div>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center" id="choose-create-account">    
        <div class="cuenta-box-body fondeo">
            <div class="cuenta-box-heading">Fondeo </div>   
            <p>Gestiona una cuenta de fondeo</p>
            {% if user.is_authenticated %} 
            <div class="account-type">                               
                <a href="{% url 'crear_cuentas' 1 %}">
                    <h4 class="account-type-text">Crear una cuenta</h4>
                </a>
            </div>
            {% else %}
            <div class="account-type">                               
                <a href="{% url 'login' %}">
                    <h4 class="account-type-text">Iniciar sesión para crear una cuenta</h4>
                </a>
            </div>
            {% endif %}
        </div>  
        <div class="cuenta-box-body personal">            
            <div class="cuenta-box-heading">Personal </div>   
            <p>Gestiona una cuenta personal </p>
            {% if user.is_authenticated %}
            <div class="account-type">
                <a href="{% url 'crear_cuentas' 2 %}">
                    <h4 class="account-type-text">Crear una cuenta</h4>
                </a>
            </div>
            {% else %}
            <div class="account-type">
                <a href="{% url 'login' %}">
                    <h4 class="account-type-text">Iniciar sesión para crear una cuenta</h4>
                </a>
            </div>
            {% endif %}
        </div>     
    </div>
</div>
</div>

{% endblock %}
