{% extends "base.html" %}
{% block titulo %} Seleccionar tipo de Cuenta {% endblock %}
{% block contenido %} 
{% for mensaje in messages %}
<div class="alert alert-info notifications-alert text-center" role="alert">
    {{ mensaje }}
    <button class="close-btn" onclick="cerrarMensaje(this)"><span class="close-icon"></span></button>
</div>	
{% endfor %}

<div class="container-seleccionar-cuentas text-center">
    <div class="card-body">
        <h4 class="card-title">¿Qué es Yournalup?</h4>
        <p id="p-text" class="card-text">
            Yournalup es más que un diario de trading, es tu aliado para mejorar tus habilidades. 
            Registra tus operaciones, positivas y negativas, para analizar aciertos y errores. 
            Crea tu propio plan de trading y gestiona tu riesgo con la ayuda de Yournalup, según tu nivel te ayudamos a calcular el riesgo con limites para evitar perdidas en tus operaciones!
            Perfecto para traders que gestionan sus cuentas personales y aquellos que buscan realizar challenge con empresas de fondeo.
            Elige sabiamente desde el principio, ¡tu éxito depende de ello!
        </p>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center" id="choose-create-account">    
        <div class="cuenta-box-body fondeo text-center">
            <div class="cuenta-box-heading">Fondeo </div>   
            <p>Define tu riesgo y calcularemos la cantidad de trade que debes respetar para tu challenge</p>
            {% if user.is_authenticated %} 
            <div class="account-type">                               
                <a href="{% url 'crear_cuentas' 1 %}">
                    <h4 class="account-type-text">Crear cuenta</h4>
                </a>
            </div>
            {% else %}
            <div class="account-type">                               
                <a href="{% url 'login' %}">
                    <h4 class="account-type-text">Iniciar sesión para crear una cuenta</h4>
                </a>
            </div>
            {% endif %}
        </div> 

        <div class="cuenta-box-body personal text-center">          
            <div class="cuenta-box-heading">Personal</div>          
            <p>Define la cantidad de trade a operar y calcularemos tu riesgo y la cantidad de trade a respetar</p>
            {% if user.is_authenticated %}
            <div class="account-type">
                <a href="{% url 'crear_cuentas' 2 %}">
                    <h4 class="account-type-text">Crear cuenta</h4>
                </a>
            </div>
            {% else %}
            <div class="account-type">
                <a href="{% url 'login' %}">
                    <h4 class="account-type-text">Iniciar sesión para crear una cuenta</h4>
                </a>
            </div>
            {% endif %}
        </div> 
    </div>
</div>

{% endblock %}
