{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">  
      <h1 class="display-5 fw-bold">Bienvenidos a tu gestion de riesgos y beneficios</h1>
      <p class="col-md-8 fs-4">Comienza a agregar tus trades</p>
      <p class="lead">      
      <a name="" id="" class="btn btn-primary btn-lg"  href="{% url 'seleccionar_cuenta' %}" role="button">Empezar</a>  
      </p>
    </div>
  </div>

{% endblock %}