{% load static %}
<form enctype="multipart/form-data" method="post" id="myModalForm">
	{% csrf_token %} {% if error_message %}
	<div class="alert alert-danger" role="alert">
		{{ error_message }} {% endif %}
	</div>
	<div class="grid-container-master">		
		<div class="grid-container">
			<div class="mb-1">
				<h4 class="tittle-trade">Proyecciones</h4>
			</div>
			<div class="grid-container-display">
				<div class="mb-1">
					<label for="lotaje" class="form-label">Lotaje</label>
					<input type="text" readonly id="lotaje" class="display" name="lotaje" value="{{ formulario.lotaje.value | default:'' }}">
				</div>
				<div class="mb-1">
					<label for="ratio" class="form-label">Ratio</label>
					<input type="text" readonly id="ratio" class="display" name="ratio" value="{{ formulario.ratio.value | default:'' }}">	
				</div>
				<div class="mb-1">
					<label for="beneficio_esperado" class="form-label">Beneficio Esperado</label>		
					<input type="text" readonly id="beneficio_esperado" class="display" name="beneficio_esperado" value="{{ formulario.beneficio_esperado.value | default:'' }}">					
				</div>	
				<div class="mb-2">
					<label for="utilidad_proyectada" class="form-label">Utilidad Proyectada</label>			
					<input type="text" readonly id="utilidad_proyectada" class="display" name="utilidad_proyectada" value="{{ formulario.utilidad_proyectada.value | default:'' }} ">
				</div>	
			</div>		
			<div class="mb-1">
				<h4 class="tittle-trade">Detalles del trade</h4>
			</div>	
			<div class="grid-container-form">							
				<div class="mb-1">
					<label for="activo" class="form-label">Activo</label>
					<select id="activo" class="form-control" name="activo">
						{% for choice in formulario.activo.field.choices %}
							{% if choice.0 == formulario.activo.value %}
								<option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
							{% else %}
								<option value="{{ choice.0 }}">{{ choice.1 }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<label for="activo_seleccionado" id="activo_seleccionado" class="form-label"></label>
				</div>
				<div class="mb-1">
					<label for="orden" class="form-label">Orden</label>
					<select id="orden" class="form-control" name="orden">
						{% for choice in formulario.orden.field.choices %}
							{% if choice.0 == formulario.orden.value %}
								<option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
							{% else %}
								<option value="{{ choice.0 }}">{{ choice.1 }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>		
				
				<div class="mb-1">
					<label for="fecha" class="form-label">Fecha</label>
					<input type="text" id="fecha" name="fecha" value="{{ formulario.fecha.value | default:'' }}">
				</div>
				<div class="mb-1">
					<label for="resultado" class="form-label">Resultado:</label>
					<select id="resultado" class="form-control" name="resultado">
						{% for choice in formulario.resultado.field.choices %}
							{% if choice.0 == formulario.resultado.value %}
								<option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
							{% else %}
								<option value="{{ choice.0 }}">{{ choice.1 }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>		
				<div class="mb-1">
					<label for="stoploss" class="form-label">Stop Loss</label>
					<input type="text" id="stoploss" class="form-control" name="stoploss" value="{{ formulario.stoploss.value | default:'' }}">
				</div>
				<div class="mb-4">
					<label for="takeprofit" class="form-label">Take Profit</label>
					<input type="text" id="takeprofit" class="form-control" name="takeprofit" value="{{ formulario.takeprofit.value | default:'' }}">
				</div>	
			</div>	
			{% if request.resolver_match.view_name == 'editar' %}			
			  <!-- Modal -->
			  <div id="modalayuda" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				  <div class="modal-content-help">			
					 <div class="modal-header">        
					  <a type="button" class="close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					  </a>
					</div> 
					<div class="modal-body">
						<p>Una vez finalizado tu trade podrás detallar aquí tus ganancias y/o pérdidas.</p>
					</div>      
				  </div>
				</div>
			  </div>	
			<div class="mb-1">
				<h4 class="tittle-trade">Beneficios</h4>
			</div>	
			<p>Una vez finalizado tu trade podras detallar aquí tus ganancias y/o perdidas.</p>
			<div class="grid-container-form">							
				<div class="mb-1">
					<label for="beneficio_real" class="form-label">Beneficio real</label>
					<input type="text"  id="beneficio_real" class="form-control" name="beneficio_real" value="{{ formulario.beneficio_real.value | default:'' }}">
				</div>
				<div class="mb-4">
					<label for="porcentaje_beneficio_real" class="form-label">Utilidad</label>
					<input type="text" readonly id="porcentaje_beneficio_real" name="porcentaje_beneficio_real" value="{{ formulario.porcentaje_beneficio_real.value | default:'' }}">
				</div>	
			</div>		
			{% endif %}			
			<div class="center-button">
				<button name="" id="" class="add-order-button" type="submit">Aceptar</button>
				<a name="" id="" class="cancel-order-button" href="{% url 'lista_trades_de_cuentas' request.session.id_cuenta %}" role="button">Cancelar</a>
			</div>					
		</div>
	
		<div class="grid-container-2 modal-container">
		{% if request.resolver_match.view_name == 'editar' %}		
			<div class="modal-content">	
				<div class="modal-header">				
					<a type="button" class="close" data-dismiss="modal-container" aria-label="Close">
						<i class="fas fa-times close-modal"></i>
					</a>
					<a type="button" class="btn btn-sm btn-outline-secondary ml-auto" id="expand-modal-button">
						<i class="fas fa-expand"></i>
					</a>
				</div>
				<div class="modal-body">	{{ trade_image_id }}
				{% for image, trade_image in recorre_clase_image %}								
							<div class="image-container">
								<div class="dropdown-delete">
									<i id="dropdown-icon" class="fas fa-ellipsis-h btn dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
									<div id="dropdown-menu" class="dropdown-menu">									 
									  <a class="dropdown-item" href="{% url 'eliminar_imagen' image.id %}">
										<i class="fas fa-trash-alt"></i> Eliminar
									  </a>
									</div>
								  </div>
								
								<div class="mb-3">
									<div class="form-group"> 
										<input type="text" class="form-control" id="id_titulo_{{trade_image.id}}" name="titulo_{{trade_image.id}}" value="{{image.titulo}}">
										<textarea class="form-control"  id="descripcion_{{trade_image.id}}" name="descripcion_{{trade_image.id}}">{{image.descripcion}}</textarea>

										<img src="{{ image.image.url }}" width="1000" class="img-fluid rounded-top expandable-image" alt="" onclick="expandImage(this)">
										<div class="file-upload">
											<input type="file" id="fileInput" class="form-control" placeholder="adjunta una imagen" name="image_{{trade_image.id}}">
											<label class="update-image" for="fileInput">Actualizar imagen</label>
										</div>
										
									</div>
								</div>
								<button type="submit" class="update-button hidden update-button-{{trade_image.id}} "></i>Guardar cambios</button>
							</div>
						
				{% endfor %}		
				<!-- El botón que mostrará/ocultará el modal-body-add -->					
				
				{% if  recorre_clase_image %}
					<div class="modal-body line-top" id="modalBodyAdd">
						<div class="image-container">
							<div class="mb-3">
								<div class="form-group">
									<input type="text" id="titulo" class="form-control" name="titulo" placeholder="Ingresa un título" value="{{ image.titulo.value | default:'' }}">
									<textarea class="form-control" type="text" id="descripcion" placeholder="Ingresa una descripción" name="descripcion">{{ image.descripcion.value|default:'' }}</textarea>
									<div class="file-upload">
										<input type="file" id="fileInput" placeholder="adjunta una imagen" name="image">
										<label for="fileInput">Seleccionar imagen</label>
									</div>
									
								</div>
							</div>
							<button type="submit" class="add-button"></i>Guardar</button>
						</div>					
					</div>
				{% else%}	
				<div class="modal-body" id="modalBodyAdd" style="display: none;"></div>
					<div class="image-container">
						<div class="mb-3">
							<div class="form-group">
								<input type="text" id="titulo" class="form-control" name="titulo" placeholder="Ingresa un título" value="{{ image.titulo.value | default:'' }}">
								<textarea class="form-control" rows="3" type="text" id="descripcion" placeholder="Ingresa una descripción" name="descripcion">{{ image.descripcion.value|default:'' }}</textarea>
								<div class="file-upload">
									<input type="file" id="fileInput" placeholder="adjunta una imagen" name="image">
									<label for="fileInput">Seleccionar imagen</label>
								</div>							
							</div>
						</div>
						<button type="submit" class="add-button"></i>Guardar</button>
					</div>							
				{% endif %}	
				</div>
				
				{% if recorre_clase_image %}	
				<div class="image-container">
					<a id="toggleButton" class="btn btn-primary btn-add"><i class="fas fa-plus"></i></a>	
				</div>			
				{% endif %}   
			
			
		</div>
		{% else %}		
		<div class="card-body text-start">		
			<h4 class="card-title">Proyecciones y recomendaciones</h4> 		
		
			<p class="card-text">
				<i class="fas fa-info"></i> Basándonos en los detalles de tu trade, como el activo, stop loss y take profit, calcularemos el volumen o lotaje recomendado para seguir tu estrategia y respetar tu plan de riesgo.
			</p>
			<p class="card-text">
				<i class="fas fa-info"></i> Además, proyectaremos el beneficio esperado y su utilidad para que puedas tener una idea clara de los posibles resultados.
			</p>						
		</div> 
		<div class="card-body text-start">	
			<h4 class="card-title">Completa los detalles de tu trade</h4>
			<p class="card-text">
				<i class="fas fa-info"></i> Selecciona el activo e ingresa los parámetros de entrada y salida.
			</p>                                        
			<p class="card-text">
				<i class="fas fa-info"></i> Puedes completar el campo de "Beneficio real" una vez hayas finalizado tu trade. 
				Así mismo podras reflejar los detalles en tu listado de trades.  
			</p>
			<p class="card-text">
				<i class="fas fa-info"></i> Luego que hayas aceptado la ceración de tu trade, podras agregar imagenes y detallar tus analisis.
			</p>
		</div>		 
		{% endif %}		
	</div>
	{% if request.resolver_match.view_name == 'editar' %}	
			{% if recorre_clase_image %}
			<a id="open-modal-button" class="add-details">  <i class="fas fa-image"></i><sup><i class="fas fa-sync-alt update-details-icon"></i></sup></a>
			{% else %}
			<a id="open-modal-button" class="add-details"> <i class="fas fa-image"></i><sup><i class="fas fa-plus pulse add-details-icon"></i></sup></a>
			{% endif %}		
	{% endif %}
		<script src="{% static 'js/scriptTrades.js' %}"></script>

</form>