{% block contenido %} 
 {% for cuenta in cuentas %}
    {% if cuenta.id_cuenta == request.session.id_cuenta %}
   
    <nav>
      <div class="arrow arrow-left">◀</div>
      <div class="arrow arrow-right">▶</div>
      <div>
        <ul data-role="listview" data-inset="true">
          <li>
            <label>Login</label>
            <input id="n_login" type="text" readonly name="n_login" value="{{ cuenta.n_login }}"/>   
          </li>
          <li>
            <label>Cuenta</label>         
            <input id="cuenta" type="text" readonly name="cuenta" value="{{ cuenta.cuenta }}"/>   
          </li>
          <li>
            <label>N° Operaciones</label>
            <input id="n_operaciones" type="text" readonly name="n_operaciones" value="{{ cuenta.n_operaciones }}"/>   
          </li>
          <li>
            <label>Operaciones Restantes</label>
            <input id="operaciones_restantes" type="text" readonly name="operaciones_restantes" value="{{ cuenta.operaciones_restantes }}"/>   
          </li>
          <li>
            <label>Capital Riesgo</label>
          
            <input id="capital_riesgo" type="text" readonly name="capital_riesgo" value="{{ cuenta.capital_riesgo }}"/>             
          </li>
          <li>
            <label>Riesgo por Operación</label>
            <input id="riesgo_operacion" type="text" readonly name="riesgo_operacion" value="{{ cuenta.riesgo_operacion }}"/>         
          </li>
          <li>
            <label>Nivel De Riesgo</label>
            <input id="nivel_riesgo" type="text" readonly name="nivel_riesgo" value="{{ cuenta.nivel_riesgo }}"/>
        
          </li>
          <li>
            <label>Balance</label>
            <input id="capital_actual" type="text" readonly name="capital_actual" value="{{ cuenta.capital_actual }}"/>   
          </li>      
        </ul>
      </div>
    </nav>
    
      
    {% endif %}
  {% endfor %}

  {% endblock %}