{% extends "base.html" %} {% block titulo %} Mis trades {% endblock %}
{% block contenido %}
{% load static %}

<div class="nav-list">
{% include 'cuentas/trades/nav_list.html' %}
</div>
{% load static %}
{% csrf_token %}
{% if mensaje_error %}
<div class="alert alert-danger" role="alert">
  {{ mensaje_error }}
  {% endif %}

  <div class="card">
    <div class="card-header">   
      <a  class="add-order-button" href="{% url 'crear' %}" role="button">
        <i class="fas fa-plus"></i> Agregar trade
      </a> 
    </div>      
 {% if exist_row > 0 %}
  <div class="card-body">
    {% comment %} <div class="card-table"> {% endcomment %}
    <h4 class="card-title">Mis trades</h4>     
      
          <div class="tabla-scroll">
            <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">Trade</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Orden</th>
                  <th scope="col">Stoploss</th>
                  <th scope="col">TakeProfit</th>           
                  <th scope="col">Volumen</th>
                  <th scope="col">Ratio</th>
                  <th scope="col">Resultado</th>
                  <th scope="col">Beneficio Real</th>    
                  <th scope="col">Utilidad</th>
                  <th scope="col"></th>          
                  <th scope="col" class="edit"></th>       
                </tr>
              </thead>
              <tbody>
                {% for trades in lista_trades_de_cuentas %}
                <tr class="editable-row" ondblclick="window.location.href='{% url 'editar' trades.id %}'">
                  <td>{{ trades.id }}</td>
                  <td>{{ trades.fecha|date:"d/m/Y" }}</td>
                  <td>{{ trades.activo }}</td>
                  <td
                    {% if trades.orden == 'Venta' %}class="text-danger"{% endif %}
                    {% if trades.orden == 'Compra' %}class="text-success"{% endif %}>
                    {{ trades.orden }}
                  </td>
                  <td>{{ trades.stoploss }}</td>
                  <td>{{ trades.takeprofit }}</td>
                  <td>{{ trades.lotaje }}</td>
                  <td>{{ trades.ratio }}</td>
                  <td
                    {% if trades.resultado == 'Programada' %}class="text-warning"{% endif %}
                    {% if trades.resultado == 'Ejecución por Mercado' %}class="text-warning"{% endif %}
                    {% if trades.resultado == 'Take Profit' %}class="text-success"{% endif %}
                    {% if trades.resultado == 'Stop Loss' %}class="text-danger"{% endif %}
                    {% if trades.resultado == 'Break Even' %}class="text-info"{% endif %}
                    {% if trades.resultado == 'Cierre Manual en Positivo' %}class="text-success"{% endif %}
                    {% if trades.resultado == 'Cierre Manual en Negativo' %}class="text-danger"{% endif %}>
                    {{ trades.resultado }}
                  </td>
                  {% if trades.beneficio_real %}
                  <td>$ {{ trades.beneficio_real }}</td>
                  <td>{{ trades.porcentaje_beneficio_real }} %</td>
                  {% else %}
                  <td>-</td>
                  <td>-</td>
                  {% endif %}
                  <td class="edit">
                    <a class="btn-custom" href="{% url 'editar' trades.id %}" role="button">
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                  <td>
                    <a class="btn-custom" href="{% url 'eliminar' trades.id %}" role="button">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>         
    </div>
  </div>
  {% else %} 
  <div class="card-body">
    <h4 class="card-title">Mis trades</h4>
    <p>Aún no tienes registros...</p>
  </div>  
  {% endif %}

</div>
  <div class="background-button-commission">
<a id="open-modal-button-commission" class="add-button-commission"><i class="fas fa-fw fa-angle-double-up"></i></a>
  </div>
{% if lista_trades_de_cuentas %}
    {% if beneficio_total %}
        <form id="myForm" enctype="multipart/form-data" method="post">    
          {% csrf_token %}    
          <div id="modal-container-commission" class="modal-container-commission container-commission-desktop">  
            {% comment %} <h4 class="card-trade">Descuentos y Beneficios</h4>			 {% endcomment %}
            <div class="mb-1">
              <label for="comision" class="label-commission">Comisión</label>           
              <input type="text" class="form-control" id="comision"  name="comision" placeholder="0.0" value="{{ formulario.comision.value | default:''}}">             
            </div>
            <div class="mb-1">
              <label for="swap" class="label-commission">Swap</label>
              <input type="text" class="form-control" id="swap" name="swap" placeholder="0.0" value="{{ formulario.swap.value | default:'' }}">    
            </div>
            <div class="mb-1">
              <label for="beneficio_total"  class="label-commission">Beneficios</label>            
              <input type="text" readonly class="form-control" id="beneficio_total" name="beneficio_total" value="$ {{ beneficio_total | default:'' }}"> 
            </div>
            <div class="mb-4">
              <label for="porcentaje_beneficio_total" class="label-commission">Utilidad</label>            
              <input type="text" readonly class="form-control" id="porcentaje_beneficio_total" name="porcentaje_beneficio_total" value="{{ porcentaje_beneficio_total | default:'' }} %">           
            </div>
            <div class="mb-1">
               <button type="submit" class="add-order-button-commission"></i>Guardar</button>
            </div>
            </div>
        </form>         
    {% endif %}
{% endif %}
<div id="loading-icon" style="display: none;">
  <i class="fas fa-spinner fa-spin"></i> Cargando...
</div>

<script src="{% static 'js/scriptListaTrades.js' %}"></script>
{% endblock %}

