/* Estilos generales */
:root {
  --color-background: black;
  --color-background-foot: #32373f;
}
html{ 
  overflow-y: auto;
  scrollbar-width: none; /* Ancho de la barra de desplazamiento */
  scrollbar-color: #888 #f1f1f1; /* Color del "pulgar" y color de fondo de la barra de desplazamiento */
  scroll-behavior: smooth;
  font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  body {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: white;
    color: rgba(25, 23, 17, 0.6);
    font-weight: 500;
    margin: 0;
    padding: 0;
    transition: background-color .3s linear;
    font-size: 13px;  
    display: block;   
    position: relative;  
 
    /* min-height: 100vh; Establece una altura mínima para que el contenido se extienda hasta la parte inferior de la ventana del navegador */
  }
 
 /* Estilos para boton modo nocturno */
 .switch {
  position: relative;
  display: inline-block;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 24px; /* Ajusta el alto según tus necesidades */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px; /* Ajusta el radio del borde según tus necesidades */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* Ajusta la altura del botón según tus necesidades */
  width: 18px; /* Ajusta el ancho del botón según tus necesidades */
  left: 3px; /* Ajusta la posición del botón según tus necesidades */
  bottom: 3px; /* Ajusta la posición del botón según tus necesidades */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #E69946;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:before {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.slider:after {
  display: none;
}

.switch input:checked + .slider:before {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2);
}

/* Estilos para el modo nocturno */
.dark-mode  { 
  background-color: var(--color-background);
  color: #FFF;
}

.dark-mode table {
  background-color: var(--color-background);
  color: #FFF;
}

.dark-mode td {
  color: #FFF;
}
.dark-mode .card-body {
  color: #fff;
}

.dark-mode .card-body:hover
.dark-mode .card-body:focus {
  color: #fff;
}

.dark-mode input[type="text"],
.dark-mode select,
.dark-mode textarea,
.dark-mode .file-upload {
  background-color: var(--color-background-foot);
  color: #fff;
 
}
.dark-mode input[type="text"]:hover,
.dark-mode input[type="text"]:focus,
.dark-mode select:hover,
.dark-mode select:focus,
.dark-mode textarea:hover,
.dark-mode textarea:focus
{
  background-color: var(--color-background-foot);
  color: #fff;
}

.dark-mode .file-upload:hover,
.dark-mode .file-upload:focus, 
.dark-mode .file-upload label:hover,
.dark-mode .file-upload label:focus {
  background-color: var(--color-background);
  cursor: pointer;
}

.dark-mode .card {
  background-color: var(--color-background);
}
.dark-mode .modal-content{
  background-color: var(--color-background);
}
.dark-mode .btn-custom {
  color:#fff;
}
.dark-mode .btn-custom:hover {
  color:#8b8686;
}
.dark-mode .btn-google{
  color:#fff;
}
.dark-mode .account-type-text,
.dark-mode .add-order-button,
.dark-mode .cancel-order-button{
  background-color: #e69946;
}
.dark-mode .account-type-text:hover,
.dark-mode .add-order-button:hover,
.dark-mode .cancel-order-button:hover{
  background-color: #e3b98e;
}

.dark-mode select,
.dark-mode #fecha {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M7.41,8.59L12,13.17l4.59-4.58L18,9l-6,6l-6-6L7.41,8.59z'/%3E%3C/svg%3E");

}
.dark-mode .modal-container-commission{
  background-color: var(--color-background-foot);
  color: #fff;
}

.dark-mode #takeprofit {
  background-color: #393f39;
  cursor: auto;
  color:#fff;
}
.dark-mode #stoploss {
  background-color: #554b4b;
  cursor: auto;
  color:#fff;
}
.dark-mode #quick-profile {
  background-color: var(--color-background);
  color: #fff;
  border: 1px solid #e69946;
}
.dark-mode .user-name {
  color: #fff;
}
.dark-mode  .new-register-image-trade {
  background-color: var(--color-background);
}
.dark-mode .label-commission { 
  background: black;
  color: white; 
}
.dark-mode #modal-container-commission{
  background: black;
  color: white;
}
.dark-mode #info{
  background: black;
  color: white;
}
.dark-mode #swap,
.dark-mode #comision{
  background-color: black;
  color: white;
}
.dark-mode #beneficio_total,
.dark-mode #porcentaje_beneficio_total{
  background-color: black;
  color: white;
}
.dark-mode .add-order-button-commission {
  background-color: #e69946;
  color: #fff;
}

.dark-mode .dropdown-menu
{
  background-color: black;
  color: white;
  border: 1px solid #e69946;
}
.dark-mode .dropdown-item{
  background-color: black;
  color: white;  
}
.dark-mode #dropdown-icon{
  color: white;
}
.dark-mode .close-modal { 
  color: white;
}
.dark-mode  .add-order-button-trade{
  background-color: #e69946;
}

  .content-container {
    padding-bottom: 100px; /* Ajusta este valor según el tamaño del footer */
  }

  /* Estilos del encabezado */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32373f;
    text-align: center;
    padding: 5px;   
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 100;  
  }
  @media screen and (max-width: 768px) {
    header {
    height: 43px;
    }
   
  }
  .logo-right {
    margin-right: auto;
  }
  .profile-left {
    margin-left: 2vh;
  }
  main {
    margin-top: 50px; /* Margen superior igual a la altura del encabezado */
    padding: 20px;
  }
  @media screen and (max-width: 768px) {
  main {
    padding: 8px;
    margin-top: 70px;
  }
  }
 
  /* Estilos del pie de página */
  /* footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 10px;
  } */



  nav {
    /* display: flex; */
    place-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
  }
     

  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    
  }

  @media screen and (max-width: 1157px) {
    nav ul{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     
    }
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    nav ul {    
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch; /* Propiedad para mejorar el desplazamiento en dispositivos iOS */  

    }
    nav li {
      flex: 0 0 50%; /* Mostrar solo dos elementos por pantalla */
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .arrow {
      position: absolute;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      padding: 18px;
      top: 3vh;    
      z-index: 98;
    }
    
    .arrow:hover {
      background-color: transparent;
    }
    
    .arrow-right {
      display: block;
      right: 1vh;
    }
    
    .arrow-left {
      display: block;
      left: 1vh;
    }  
    .slide-button-list{
      background-color: transparent;
      color: white;
      border: none;  
    
    }    
  }

  nav a {
    text-decoration: none;
    color: white
  }

  nav input {
    border: 1px solid #ccc;
    padding: 4px;
    font-weight: bold;
  }

  /* Estilos del formulario */
  /* form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 20px;
    border: 1px solid #c2b4b4;
  } */

  label {
    display: block;
    margin-bottom: 5px;
  }

  img {
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }


  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    /* margin-bottom: 10px; */
    box-sizing: bozrder-box;
    border: 1px solid #ccc;
    border-radius: 4px;   
    border-radius: 0.375rem;
    text-align: center;
    font-size: 1rem;
    color: rgba(25, 23, 17, 0.81); 
  }

  select,#fecha {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333'%3E%3Cpath d='M7.41,8.59L12,13.17l4.59-4.58L18,9l-6,6l-6-6L7.41,8.59z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
    padding-right: 30px;
    border-radius: 0.375rem;    
    width: 100%;
  }

  input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;   
    background-color: #eaeaea;
    border-radius: 0.375rem;
    width: 100%;
  }

  /* Estilos para una mejor experiencia del usuario */
  /* input:focus,
  select:focus {
    outline: none;
    box-shadow: 0px 0px 5px #e69946;
    background-color: white;
  } */


  /* Estilos para el grid */

  .start-button {
    display: flex;
    justify-content: flex-start;
  }

  .center-button {
    display: inline;
    justify-content: center;
    gap: 3px;
  }

  @media screen and (max-width: 768px) {
    .center-button {
      display: grid;
      grid-template-columns: 1fr;
     
    }
  }

  .end-button {
    display: flex;
    justify-content: flex-end;
  }

  /* Estilos para el botón que abre el popup */

  .add-order-button,
  .cancel-order-button,
  .delete-order-button {
    margin-top: 20px;
    /* opcional */
    background-color: #32373f;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;   
    cursor: pointer;
    margin: 0;
    border-radius: 0.375rem;
    /* width: 70%;  */
    text-align: center;
  }
  .delete-order-button {
    background-color: #e61313; /* Color para el botón "Delete Order" */
  }
  .add-order-button-trade{
    margin-top: 5px;
    /* opcional */
    background-color: #32373f;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.375rem;
    text-align: center;   
  }
  .add-details{
    display: none;
  }
  @media screen and (max-width: 768px) {
    .add-order-button,
    .cancel-order-button,
    .delete-order-button {
      width: 100%;
    }  
    .add-order-button-trade{
    width: 100%;
  }
  .add-details{
    display: block;
    margin-top: 20px;
    background-color: #32373f;
    border: 1px solid #e69946;
    color: white;
    padding: 10px;
    text-decoration: none;
    position: fixed;
    font-size: 16px;
    cursor: pointer;
    margin: 13px;
    border-radius: 0.375rem;
    width: 110px;
    text-align: center;
    width: 46px;
    position: fixed;
    bottom: 5px;
    right: 0;
    border-radius: 22px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.52);
    transition: transform 0.3s ease-in-out;
    animation: bounce 1s infinite;
    content: '' !important;
    z-index: 98;
  }
  .add-details:hover{
    color: white;
  }
}
  .add-order-button:hover,
  .add-order-button:focus,
  .add-order-button-trade:hover,
  .add-order-button-trade:focus,
  .delete-order-button:hover,
  .cancel-order-button:hover,
  .cancel-order-button:focus {
    background-color: rgb(117, 111, 111);
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
  /* Estilos para el botón de cerrar */
  .close {
  display: none;
  }
  @media screen and (max-width: 768px) {
  .close { 
    display: block;   
    -moz-appearance: none; /* Mozilla Firefox */
    -webkit-appearance: none; /* Google Chrome and Safari */
    appearance: none; /* Other browsers */
  }

  .close-modal {   
    color: #000;
    display: block;
    font-size: 22px;
  }
  }

  /* Animación de entrada del popup */
  @keyframes modalopen {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  /*Validación campos vacios*/
  .error {
    color: red;
    display: block;
    margin-top: 5px;
  }
  .success {
    color: green; 
    display: block;
    margin-top: 5px;
  }
  .error_element {    
    border: 1px solid red;
  }  
  .table > thead {
    vertical-align: bottom;
    text-align: center;
    background: #32373f;
    color: white;
    position: sticky;
    top: 0;   
    z-index: 98;
  }
  .table > tbody{
    text-align: center;
  }
  .tabla-scroll {
    max-height: 540px;
    overflow-y: auto;
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: #888 #f1f1f1; /* Color del "pulgar" y color de fondo de la barra de desplazamiento */
    scroll-behavior: smooth;
    position: sticky;   
  }
  .tabla-scroll-cuentas {   
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    scroll-behavior: smooth;
    overflow-x: auto; 
    position: absolute;
    transition: background 20ms ease-in 0s;  
    width: 30%;
    height: 37%; 
  }

  @media screen and (max-width: 768px) {
    .tabla-scroll {
      max-height: 249px;
      overflow-x: auto;   
    }
  }

 .container {
  height: 100vh; /* Altura del contenedor */
  padding: 0;
}

.tabla-scroll, .modal-container {
  overflow-y: scroll; /* Habilita la barra de desplazamiento vertical */
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
 
  scrollbar-color: #888 #f1f1f1; /* Color del "pulgar" y color de fondo de la barra de desplazamiento*/
  transition: scrollbar-color 0.3s ease-in-out; /* Transición suave */
}


.hide-scrollbar {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  scrollbar-color: transparent transparent; /* Color de la barra de desplazamiento */
}

.tabla-scroll::-webkit-scrollbar,
.modal-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.tabla-scroll::-webkit-scrollbar-track,
.modal-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

.tabla-scroll::-webkit-scrollbar-thumb,
.modal-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del "pulgar" de la barra de desplazamiento */
}

.tabla-scroll::-webkit-scrollbar-thumb:hover,
.modal-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del "pulgar" de la barra de desplazamiento al pasar el cursor sobre él */
}

.tabla-scroll::-ms-scrollbar-track,
.modal-container::-ms-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

.tabla-scroll::-ms-scrollbar-thumb,
.modal-container::-ms-scrollbar-thumb {
  background-color: #888; /* Color del "pulgar" de la barra de desplazamiento */
}

.tabla-scroll::-ms-scrollbar-thumb:hover,
.modal-container::-ms-scrollbar-thumb:hover {
  background-color: #555; /* Color del "pulgar" de la barra de desplazamiento al pasar el cursor sobre él */
}

  
  
  .table-hover tbody tr:hover {
    background-color: #e69946; /* Cambia el color a tu preferencia */

  }
  th, td {
    white-space: nowrap;
  }

  .boton-editar {
    margin-right: 10px; /* Ajusta el valor según el espaciado deseado */
  }

  .boton-eliminar {
    margin-left: 10px; /* Ajusta el valor según el espaciado deseado */
  }
  .expanded-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 101;
  }

  .expanded-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }

  /* seleccionar tipo de cuenta*/

  .cuenta-box-body{
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    border: 2px solid #e69946;
    border-radius: 5px;
    margin-top: 6px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .cuenta-box-heading
  {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin: 50px;
  }

  .account-type {
    border-radius: 5px;
    text-align: center;
  }

  .account-type-text {
    margin-top: 20px;
    /* opcional */
    background-color: #32373f;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 0.375rem;

  }

  .account-type-text:hover {
    background-color: rgb(117, 111, 111);
    text-decoration: none;
    cursor: pointer;
    color: white;

  }
  .card-body { 
    gap:6px;   
  }
    /* Estilos para pantallas con resolución menor o igual a 860px */
    @media screen and (max-width: 768px) {
      .card-body {
          flex-direction: column; /* Cambia la dirección del flujo de los elementos a vertical */
          position: relative;
          padding: 1px;
      }
      .account-type {
          margin-bottom: 10px; /* Agrega un margen inferior a los contenedores de los botones */
      }
      .card-title {
        text-align: center;
      }
  }
  /* #choose-create-account {
    border: 2px solid #e69946;
  } */
/* 
  .container{
    max-width: 1518px;
  } */

  .container-seleccionar-cuentas {
    display: grid;
    height: 100%;
    align-content: center;
    padding: 5%;
  }
  
  /* .container-cuentas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .container-cuentas {
      grid-template-columns: 1fr; /* Cambiamos a una sola columna */
    }
  }

  input[type="file"]:not(:valid) + img {
    font-size: smaller;
  }

  #grid-container-cuentas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    justify-items: stretch;
    /* width: fit-content; */
    height:fit-content;
  }
  @media screen and (max-width: 768px) {
    #grid-container-cuentas {
      width: 100%;
    }
  }

.readonly-input input {
  outline: none;
  box-shadow: 0px 0px 0px #fff;
  background-color: #eaeaea;
  border: 1px solid #d8d8d8;
  font-weight: 500 !important;
  cursor: default;
  }

  #grid-container-cuentas #n_login {
    border: none;
  }
 
  .grid-container-master {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    }
  .grid-container-master.expand {  
    grid-template-columns: repeat(1, 1fr);
    display: inline-grid;
    justify-content: center;
    width: 120vh;
   
    /* transition: grid-template-columns 0.5s ease-in-out; */
  
  }
  @media screen and (max-width: 1247px) {
    .grid-container-master {   
      grid-template-columns: repeat(1, 1fr);
    }
    #expand-modal-button  {
      display: none;
    } 
  }
  .grid-container{
    display: grid;
    /* margin: 7px; */ 
  }
  .grid-container-display {
    display: inline-flex;
    justify-content: center;
    gap: 13px;
  }
  .grid-container-display input {
    border-radius: 50px;
    background-color: #32373f;
    color: #fff;
    font-weight: bold;
    /* margin-left: 12px; */
  } 
  @media screen and (max-width: 768px) {
    .grid-container-master {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
    }
    .grid-container-display {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-display input {
      width: 100%;
      height: 50%;
      border-radius: 44px;
      background-color: #32373f;
      color: #fff;
      font-weight: bold;
    }
  }
  .grid-container-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    justify-items: stretch;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    /* max-height: 0; */
  }

  .grid-container-2 {
    overflow-y: auto;
    max-height: 671px;
    margin: 7px;
  }

  .benefits-container {
    display: flex; 
    align-items: end;
    justify-content: center;
    width: 100%;
    background: #32373f;
    color: white;
    border-radius: 0px;
    position: fixed; /* Cambiado a 'fixed' para mantener el footer en la parte inferior */
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 23px;
  }
  .benefits-container input {
    border: none;
    width: 98px;
    margin-bottom: 3px;

  }

  .benefits-container input:hover {
    background-color: white;
    color: black;
  }

  @media screen and (max-width: 768px) {
    .benefits-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding: 7px;
    }

  }

  #stoploss {
    background-color: #d5bbbb;
    cursor: auto;
    border-radius: 0.325rem;
  }

  #takeprofit {
    background-color: #aec0ac;
    cursor: auto;
    border-radius: 0.325rem;
  }

 
  .dark-mode #beneficio_real {
    background-color: #32373f;
    cursor: auto;
  }
  .btn-custom {
    background-color: transparent;
    color: #32373f;
    border-radius: 6px;
  }
  .btn-custom:hover {
    background-color: transparent;
    color: #8b8686;
  } 
  @media screen and (max-width: 768px) {
  .edit{
    display: none;
  }
  }
  .card-table {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px; 
  }
  @media screen and (max-width: 768px) {
    .card-table {
      display: flex;     
      flex-direction: column;
      height: auto;
    }
  }
  .card-title {
    font-weight: bold;   
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-title-timeframe{
    font-weight: bold;
    background-color: darkgray;
  }


  /* .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */

  .card-container {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 25px;
    gap: 10px;
    justify-items: stretch;
    max-width: 815px;
  }

  .modal-header-left {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    justify-content: none;
    padding: 10px;
  }
  .modal-header{
    display: flex;
    justify-content: flex-end;
  }   
  @media screen and (max-width: 768px) {
    .modal-header-left {
      justify-content: flex-start;      
    }    
  } 

  .modal-dialog.expanded {
    max-width: none;
    width: 100%;
    height: auto;
    margin: 0;
    overflow-y: auto;
  }  

  @media screen and (max-width: 768px) {
    .modal-content {
      padding: 0; 
    }
  
  }
  .modal-content-help {
    background-color: #fefefe;
    margin: 0;
    padding: 5px;
    border: 1px solid #888;
    width: 100%;
    animation-name: modalopen;
    /* animation-duration: 0.6ms;
    transition: left 0.3s ease-out; Añade transición al movimiento hacia la izquierda/derecha */
    overflow-y: auto;  
  }

  .modal-image-help {
    width: 100%;
    height: auto;
  }


  .pulse {
    animation: pulse 2.5s infinite;
  }

  @keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
  }


  .file-upload {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 10px 0;
  }

  .file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
  }

  .navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /* .nav-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: stretch;
    max-width: 660px;
  } */

  .nav-indicator {
    min-width: 430px;
  }
  .card-form {
    min-width: 840px;
  }


  @media screen and (max-width: 768px) {
    .nav-card {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      justify-items: stretch;
    }   
    .grid-container-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-items: stretch;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .grid-container-2 {
      overflow-y: auto;
      max-height: fit-content;
      margin: 0;
    }
    .nav-indicator {
        width: 100%; /* Establecer el ancho máximo para pantallas móviles */
        min-width: unset; /* Eliminar el ancho mínimo en pantallas móviles */
    }
    .card-form {
      width: 100%; /* Establecer el ancho máximo para pantallas móviles */
      min-width: unset; /* Eliminar el ancho mínimo en pantallas móviles */
    }

  }


  .nav-list ul li {
    margin: 0 2px;
    display: inline-block;
  }

  .nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 442px;
    text-align: justify;   
    color: #6c757d !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .nav-container input {
    outline: none;
    box-shadow: 0px 0px 5px #fff;
    background-color: white;
    border: 1px solid #fff;
    text-align: justify;    
    cursor: default;
  }

  @media screen and (max-width: 768px) {
    .nav-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
      text-align: center;
      font-size: 13px;
      font-weight: 900 !important;
      color: #6c757d !important;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }

    .nav-container input {
      outline: none;
      box-shadow: 0px 0px 5px #fff;
      background-color: white;
      border: 1px solid #fff;
      text-align: center;      
      cursor: default;
    }
  }

  .nav-list {   
    background: #32373f;
    border: 1px solid #dee2e6;
    color:white;
    border-radius: 7px;
    margin-top: 1vh;
  }
  .nav-list input {
    outline: none;
    /* box-shadow: 0px 0px 5px #fff; */
    background: #32373f;
    border: none;
    text-align: center; 
    color:white;
    cursor: default;  
  }
  @media screen and (max-width: 768px) {

    .nav-list {
      /* font-size: 10px; */
      font-weight: 900 !important;
      background: #32373f;
      border: 1px solid #dee2e6;
      color:white;
      border-radius: 7px;
    }

    .nav-list input {
      outline: none;
      /* box-shadow: 0px 0px 5px #fff; */
      background: #32373f;
      border: none;
      text-align: center;
      font-weight: 500 !important;
      color:white;
      cursor: default;
      font-size: 11px;
    }  
  }

  .nav-container div {
      border-bottom: 1px solid #c5c5c5;
  }

  #back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* display: none; */
  }


  @media screen and (max-width: 768px) {   
    #expand-modal-button {
      display: none;
    }
  }

  #toggleButton {
    width: 100%;
    background-color: #e69946;  
    border: none;
  }

  .delete-button {
    display: flex;  
    justify-content: end;  
    border-radius: 4px;
    padding: 1px;  
  }

  .update-button {
    background-color: #d6b83f;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.375rem;
    width: 100%;
    text-align: center;
  }

  .update-button:hover {
    background-color: #c8a92a;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  .add-button {
    background-color: #32373f;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.375rem;
    width: 100%;
    text-align: center;
  }

  .add-button:hover {
    background-color: rgb(117, 111, 111);
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
  textarea {
    resize: none;
    height: auto;   
    overflow: hidden;
  }

  .file-upload {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #6c757d !important;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;   
  }

  .file-upload:hover {
    background-color: #0c0c0c12;
    color: #6c757d !important;
  }

  .form-group input{
    outline: none;
    /* box-shadow: 0px 0px 5px #fff; */
    /* border: 1px solid #fff; */
    text-align: justify;
    font-weight: 500 !important;
    font-size: 23px;
    text-transform: uppercase;   
    margin-bottom: 1vh;
  } 
  .form-group textarea, img{
    outline: none;
    /* box-shadow: 0px 0px 5px #fff; */
    /* border: 1px solid #fff; */
    text-align: justify; 
  
  } 

  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .btn-google img {
    width: 24px;
    margin-right: 8px;
  }

  .btn-google .google-text {
    font-size: 14px;
  }

  .google-icon {
    vertical-align: middle;
  }
  .nav-item.center {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 2px;
  }

  .user-avatar-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
  }

  .user-avatar-circle span {
    font-size: 16px;
    color:white;
  }

  .user-name {
    font-weight: bold;
    font-size: 16px;
    color:rgb(124, 122, 122);
    /* Otros estilos adicionales que desees aplicar */
  }

  .user-details {
    text-align: center;
  }

  .user-plan {
    font-size: 14px;
    color: white;
    margin-top: 5px;
  }


  .content {
    /* margin-left: 75px; */
    padding: 15px;
    position: relative;
  }

  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .content {
      margin: 0px;
      padding: 0px;
      display: revert;
    }
  }

  .top-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(80% - 50px); /* Ajusta la altura del menú principal restando la altura del icono de configuración */
    margin-bottom: 20px;
  }

  .bottom-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  #loading-overlay img {
    width: 50px; /* Ajusta el tamaño del logo de carga según tus necesidades */
  }

  .menu {
    background: #e69946;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 5%;
    width: 100%;
    left: 0;  
    z-index: 99;
  }
  @media screen and (max-width: 768px) {
  .menu {
      top: 43px;
    }
  }

  .menu ul:hover {
    background: #e3b98e;

  }
  .menu li {
    margin-right: 10px; /* Espacio entre los enlaces */
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 20px;
    transition: background-color 0.1s ease;
  }

  .menu a:hover {
    background: #e3b98e;
  }


  /* boton de modal ayuda */

  .input-group  {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0;
  }

  .input-group .input-group-append .help-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 10px;

  }

  .input-group .input-group-append .help-button i {
    color: #aaa;
    font-size: 18px;
    transition: color 0.3s;

  }

  .input-group .input-group-append .help-button:hover i {
    color: #555;
  }
  /* .container-commission-desktop {
    display: inline-flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #32373f;
    color: white;
    padding-right: 18.1%;
    right: 0;
    gap: 2%;
    justify-content: center;
    padding-left: 20%;
    padding-top: 1.8%;
    padding-bottom: 0.1%;
  } */
  .container-commission-desktop {
    /* position: relative;
    top: 20%;    */
    display: flex;
    height: 77vh;
    align-items: flex-end; 
  }


  .beneficio_total,
  .porcentaje_beneficio_total{
    font-weight: bold; 
  }
  #beneficio_total,
  #porcentaje_beneficio_total{
    font-weight: bold; 
    outline: none;
    cursor: default;
  }
  
  #swap,
  #comision{  
    cursor: text;   
    border: 1px solid #e69946;
  }
 
  @media screen and (max-width: 768px)
   {
    #beneficio_total,
    #porcentaje_beneficio_total,
    #swap,
    #comision{
    background-color: white;
    color: #32373f;
    }   
    .label-commission {
      position: absolute;
      bottom: 48px;
      background: #32373f;
      color: white;
      margin-left: 9px;
      padding: 3px;
      margin-bottom: 0px;
      background-color: white;
      color: #32373f;
    }

   }

   .add-order-button-commission{
    display: block; 
    background: #32373f;    
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    border-radius: 0.375rem;
    width: 100%;
    text-align: center; 
  }
  .add-button-commission{
    display: none;
  }
 

  @media screen and (max-width: 768px) {
    .container-commission-desktop{
      display: none;
    }
    .modal-container {     
      position: fixed;
      top: 0;     
      right: -100%;     
      bottom: 0;
      /* background-color: rgba(0, 0, 0, 0.5);       */
      width: 100%;
      /* height: 100vh; */
      background-color: #f2f2f2;
      opacity: 0; /* Inicialmente, el menú está oculto */
      transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;   
      z-index: 100;  
    }

    #info{
      position: fixed;
      display: block;
      width: 100%;
      top: 0;
      right: -100%;
      padding: 15px;
      background: white;     
      opacity: 0;
      transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
      height: 100vh;
      z-index: 101;
    }
    .modal-container.show, #info.show{     
      right: 0; /* Muestra el menú en la posición izquierda */
      opacity: 1; /* Hace visible el menú */     
    }

    #modal-container-commission {
      position: fixed;
      display: block;
      width: 100%;
      top:0;  
      right: -100%;     
      padding: 15px;
      background: white;
      box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
      opacity: 0; /* Inicialmente, el menú está oculto */
      transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;    
      height: 100vh;
      z-index: 101;
    }
    #modal-container-commission.show, #modal-container.show { 
      right: 0; /* Muestra el menú en la posición izquierda */
      opacity: 1; /* Hace visible el menú */
    }  
   
    .add-button-commission{
      display: block;
      margin-top: 20px;
      background-color: #32373f;
      border: 1px solid #e69946;
      color: white;
      padding: 10px;
      text-decoration: none;
      position: fixed;
      font-size: 16px;
      cursor: pointer;
      margin: 13px;
      border-radius: 0.375rem;
      width: 110px;
      text-align: center;
      width: 46px;
      position: fixed;
      bottom: 5px;
      right: 0;
      border-radius: 22px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.52);
      transition: transform 0.3s ease-in-out;
      animation: bounce 1s infinite;    
      content: '' !important; 
      z-index: 98;    
    }  

    .add-button-commission.expand {
      color: white;
      transform: scale(1.2); /* Hace que el botón se expanda un 10% */  
    }
    .add-button-commission:hover {
      color: white;
    }   
  
    .label-commission {
      position: relative;
      top: 13px;
      margin-left: 11px;
      padding: 2px;       
      width: fit-content;
    } 


.custom-login { 
  text-align: center;  
}

.dark-mode .custom-login { 
 background-color: #32373f;
 color: #fff;
}
.dark-mode .custom-login:hover
.dark-mode .custom-login:focus { 
  background-color: #32373f;
  color: #fff;
 }
}
.tittle-trade {
  background: #e69946;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  padding: 3px;  
 }
 .line-top  {
  border-top: 1px solid #e69946;
 }

 .new-register-image-trade {
  position: absolute;
  bottom: 263px;
  background-color: white;
  right: 48%;
  font-size: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: #e69946;
}

#quick-profile {
  position: fixed;
  /* display: none; */
  top: 40px; /* El menú está oculto fuera de la pantalla */
  right: 0;
  width: 20%;  
  overflow: hidden; /* Oculta el contenido que excede la altura del menú */
  background-color: white;
  opacity: 0; /* Inicialmente, el menú está oculto */
  transition: opacity 0.1s ease-in-out;
  border: 1px solid #ddd;
  text-align: justify;
  padding: 20px;
  z-index: 100;
  display: none;
}

#quick-profile.open {
  /* display: block; */
  top: 40px; /* Muestra el menú en la posición superior */ 
  opacity: 1; /* Hace visible el menú */ 
  display: block;
}
.logout{
  width: 100%;
}

@media screen and (max-width: 768px) {
  #quick-profile { 
    top: 42px; /* Muestra el menú en la posición superior */     
    width: 100%;
  }
  #quick-profile.open {
    top: 42px; /* Muestra el menú en la posición superior */   
  }

}


.checkbox-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.fila-checkbox {
  display: none;
}

.checkbox-label {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ddd;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  bottom: -1.8px;
  left: -1.7px;
  width: 16px;
  height: 16px;
  background-color: #5cb85c;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid #5cb85c;
}
.fila-checkbox:checked + .checkbox-label:before {
  opacity: 1;
}



.dropdown{
  cursor: pointer; 
  position: absolute;

}



.dropdown-menu.show
{
  display: block;  
}

.dropdown-menu { 
  pointer-events: auto;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  right: 16px; 
}

.dropdown-menu.menu-list.show
{
  display: block;
}

.dropdown-menu.menu-list { 
  top: -45px;
  left: 0px;
}
.menu-cuentas {
  position: absolute;
  top: 12px;
  left: 14px;
  pointer-events: auto;
 
}


.add-details-icon {
  font-size: 11px;
  position: absolute;
  bottom: 7px;
  right: 13px;
}
.update-details-icon{
  font-size: 11px;
  position: absolute;
  bottom: 7px;
  right: 13px;
}

.dropdown-delete {
  display: flex;
  justify-content: flex-end;
}

.venta {
  background: #b51d40 !important;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 1px solid white;
}

.compra {
  background: #54b51d !important;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 1px solid white;
}


.hidden {
  display: none;
}
.disabled-button {
  pointer-events: none;
  opacity: 0.5; /* Puedes ajustar la opacidad según tus preferencias */
  /* Otros estilos adicionales para un aspecto deshabilitado */
}

.update-image
{
  position: relative;
  cursor: pointer;
}

.bg-result-tp{
  background-color: #32ff0812;
}
.bg-result-sl{
  background-color: #ff00000d;
}

.first-column {
  padding-right: 1rem !important;
}

.card-header{
  margin-top: 2vh;
}
.middle-content{
  display: flex;
  justify-content: space-between; 
}

@media screen and (max-width: 768px) {
  .middle-content{
    display: block;
    justify-content: space-between;
  }
}

.display-list{
  margin-top: 1vh;
}
.notifications{
  color: white;
}
.notifications:hover{
  color: #e69946;
}

#modalBodyAdd{
  display: none;
}

#modalBodyAdd.show{
  display: block;
}

.close-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  right: 0;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 2px;
}

.close-icon:before,
.close-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #32373f;
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}

.notifications-alert {
  position: absolute;
  top: -2vh;
  right: 10vh;
  width: 41vh;
  z-index: 103;
}

@media screen and (max-width: 768px) {
  .notifications-alert { 
    top: -19vh;
    right: 0;
  }
}

.font-price {
  font-weight: bold;
  font-size: 30px;
}

.offer {
  background-color: #e69946;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}

#p-text{
  font-size: 18px;
  text-align: justify;
}

.input-group-text {
  position: absolute;
  margin-inline: -3rem;
  padding: .375rem .72rem;
  border: none;
  border-radius: none;
  font-size: 0.8rem;
  z-index: 1;
  margin-block: 0.1rem;
}