{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{% block titulo %} {% endblock %}</title>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <!-- Bootstrap CSS v5.2.1 -->
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
         crossorigin="anonymous"
         />
      <link
         rel="stylesheet"
         type="text/css"
         href="{% static 'css/style.css' %}"
         />
     
      <!-- Incluir la biblioteca JavaScript de Bootstrap -->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSV8X9ENHD"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'G-SSV8X9ENHD');
   </script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>  
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
   <body>
    <header>         
      <nav class="nav-right">        
        <a href="{% url 'seleccionar_cuenta' %}">
            <img alt="" style="width: 28px; filter: brightness(0) invert(1);">
            <span style="font-size: 16px; color: #fff; margin-left: 5px;">YOURNALUP</span>
        </a>
      </nav>
      {% if user.is_authenticated %}
      <nav class="nav-left">
        <div class="navbar-nav">
          <a id="menu-toggle" class="dropdown-toggle">
            <div class="user-avatar-circle">
              <span>{{ user.first_name|slice:":1" }}</span>          
            </div>            
          </a>               
          <div id="quick-profile">       
              <div class="nav-item center">
                  <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
              </div>
              <div class="nav-item nav-link">
                <a class="nav-item nav-link" href="{% url 'seleccionar_cuenta' %}">
                  <i class='fas fa-plus'></i>
                  <span class="menu-name">Nueva Cuenta</span>
                </a>
              </div>
              <div class="nav-item nav-link">
                <i class="fas fa-moon"></i>
                <span class="menu-name">Modo Nocturno</span>
                <label class="switch">
                  <input type="checkbox" id="theme-toggle">
                  <span class="slider"></span>
                </label>
              </div>
              <div class="nav-item nav-link">
                <a class="nav-item nav-link" href="#">
                  <i class='fas fa-tag'></i>
                  <span class="menu-name">Facturación</span>
                </a>
              </div>
              <div class="nav-item nav-link">
                <a class="btn btn-primary logout" href="{% url 'logout' %}">
                  <span class="menu-name">Cerrar Sesión</span>
                </a>
              </div>      
          </div>
        </div>
      </nav> 
      <nav class="nav-left">
        <div class="navbar-nav">
        <a id="menu-toggle" class="dropdown-toggle">  
            <i class="fas fa-bell"></i>  
        </a>
      </div>     
      </nav>
          {% endif %} 
    </header>
     
      <main>
        {% comment %} <div class="vertical-menu">
        
            <div class="top-icons">
              <div>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'lista_cuentas' and request.resolver_match.kwargs.id == 1 %}active{% endif %}" href="{% url 'lista_cuentas' 1 %}">
                  <i class="fas fa-stopwatch"></i>
                  <span class="menu-name">Cuenta de Fondeo</span>
                </a>
              </div>
              <div>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'lista_cuentas' and request.resolver_match.kwargs.id == 2 %}active{% endif %}" href="{% url 'lista_cuentas' 2 %}">
                  <i class="fas fa-wallet"></i>
                  <span class="menu-name"> Cuenta Personal</span>
                </a>
              </div>
            </div>
          
     
        </div>     {% endcomment %}
        {% if user.is_authenticated %}
        <nav class="menu-principal">
          <ul class="menu">
            <li> <a class="nav-item nav-link {% if request.resolver_match.url_name == 'lista_cuentas' and request.resolver_match.kwargs.id == 1 %}active{% endif %}" href="{% url 'lista_cuentas' 1 %}">
              <i class="fas fa-stopwatch"></i>
              <span class="menu-name">Cuenta de Fondeo</span>
            </a></li>
            <li>  <a class="nav-item nav-link {% if request.resolver_match.url_name == 'lista_cuentas' and request.resolver_match.kwargs.id == 2 %}active{% endif %}" href="{% url 'lista_cuentas' 2 %}">
              <i class="fas fa-wallet"></i>
              <span class="menu-name"> Cuenta Personal</span>
            </a></li>
          </ul>
        </nav>
        {% endif %}  
     
             {% block contenido %}{% endblock %} 
      

      </main>
      <footer>
         {% comment %} <p>Yournalup Derechos Reservados &copy; 2023</p> {% endcomment %}
      </footer>
      <!-- Bootstrap JavaScript Libraries -->
   

      <script
         src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
         integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
         integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
         crossorigin="anonymous"
         ></script> 
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>         
         {% comment %} <script>
            $(document).ready(function(){
                $(".dropdown-toggle").click(function(){
                    $(this).next(".dropdown-menu").slideToggle("fast");
                });
            });
            </script> 
            <script>
              function toggleMenu() {
                var menu = document.getElementById("menu");
                menu.classList.toggle("show");
              }              
            </script> {% endcomment %}
        <script>
                
          const menuToggle = document.getElementById('menu-toggle');
          const menuExample = document.getElementById('quick-profile');

          menuToggle.addEventListener('click', function() {
            menuExample.classList.toggle('open');
          });

        </script>
            <script>
              // Obtener el botón de modo nocturno y el elemento body
              const themeToggle = document.getElementById("theme-toggle");
              const body = document.body;

              // Verificar el estado almacenado en el LocalStorage al cargar la página
              const isDarkMode = localStorage.getItem("darkMode") === "true";
              if (isDarkMode) {
                enableDarkMode();
                themeToggle.checked = true; // Marcar el botón si está en modo nocturno
              }

              // Habilitar/deshabilitar el modo nocturno al cambiar el estado del botón
              themeToggle.addEventListener("change", function() {
                if (this.checked) {
                  enableDarkMode();
                  localStorage.setItem("darkMode", "true"); // Almacenar el estado en el LocalStorage
                } else {
                  disableDarkMode();
                  localStorage.setItem("darkMode", "false"); // Almacenar el estado en el LocalStorage
                }
              });

              // Función para habilitar el modo nocturno
              function enableDarkMode() {
                body.classList.add("dark-mode");
              }

              // Función para deshabilitar el modo nocturno
              function disableDarkMode() {
                body.classList.remove("dark-mode");
              }                  

              {% comment %} window.addEventListener('contextmenu', function (e) {
                e.preventDefault();
              }); {% endcomment %}
            </script>

            {% comment %} <div id="loading-overlay">
              <img src="{% static 'img/loading.gif' %}" alt="Loading" />
              </div>
              <script>
              $(window).on("load", function () {
                $("#loading-overlay").fadeOut(); // Oculta el icono de carga al cargar la página
              });
              
              $("form").on("submit", function () {
                $("#loading-overlay").fadeIn(); // Muestra el icono de carga al enviar el formulario
              });
            </script> {% endcomment %}

        <script>
          $(document).ready(function() {
            var $menu = $('nav ul');
            var menuWidth = $menu.outerWidth();
            var visibleItems = Math.floor($menu.width() / ($menu.find('li').outerWidth() * 2)); // Calcular la cantidad de elementos visibles
          
            var totalItems = $menu.find('li').length; // Cantidad total de elementos
            var currentItem = 0; // Índice del elemento actual
          
        // Función para desplazarse al siguiente conjunto de elementos
        function slideNext() {
          currentItem += visibleItems;
        
          if (currentItem >= totalItems) {
            currentItem = 0;
          }
        
          var scrollLeft = currentItem * menuWidth;
          var animationDuration = 500;
        
          $menu.animate({ scrollLeft: scrollLeft }, animationDuration);
        }
        
        // Función para desplazarse al conjunto anterior de elementos
        function slidePrev() {
          currentItem -= visibleItems;
        
          if (currentItem < 0) {
            var remainingSets = Math.ceil(totalItems / visibleItems) - 1;
            currentItem = remainingSets * visibleItems;
          }
        
          var scrollLeft = currentItem * menuWidth;
          var animationDuration = 500;
        
          $menu.animate({ scrollLeft: scrollLeft }, animationDuration);
        }
                
                // Evento para desplazarse al siguiente conjunto de elementos al hacer touch en la flecha derecha
        $('.arrow-right').on('touchstart', function() {
          slideNext();
        });

        // Evento para desplazarse al conjunto anterior de elementos al hacer touch en la flecha izquierda
        $('.arrow-left').on('touchstart', function() {
          slidePrev();
        });

           
          });
        </script>
   </body>
 
</html>